{% extends "core/base.html" %}
{% load static %}

{% block head_title %}Login - {{ block.super }}{% endblock head_title %}
{% block head_extra %}{% endblock head_extra %}

{% block content %}

<section class="section register">
  <div class="container">
      <div class="row">
          <div class="col-md-7 mx-auto">
              <div class="right-content">
                  <div class="top-content">
                      <h6>Log In</h6>
                  </div>
                  <form id="login" action="{% url 'login' %}" method="post">
                      {% csrf_token %}
                      <div class="row">
                        <span class="d-flex text-white">*</span>
                        <div class="col-md-12">
                            <fieldset>
                                <input name="username" type="text" class="form-control" id="username" placeholder="Username" required="">
                            </fieldset>
                        </div>
                        <span class="d-flex text-white">*</span>
                        <div class="col-md-12">
                            <fieldset>
                                <input name="password" type="password" class="form-control" id="password" placeholder="Password" required="">
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="d-flex flex-row-reverse me-2 my-2">
                                <button type="submit" id="login-submit" class="rounded">Login</button>
                            </fieldset>
                        </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

    
{% endblock content %}

{% block script %}
{% comment %} <script src="{% static 'js/register.js' %}"></script> {% endcomment %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock script %}